﻿@model Ghost.Domain.ViewModel.ProfileViewModel
@{
    ViewBag.Title = "Ghost";
}
<div class="page-header">
    <br />
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Profile")">@String.Concat(Model.FirstName," ",Model.LastName)</a>
        </li>
    </ul>
</div>

@if (TempData["errorMessage"] != null)
{
    <br />
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Внимание! </strong>@TempData["errorMessage"]
    </div>
}
<div class="box box-color">
    <div class="box-title">
        <h3>
            <i class="icon-user"></i>
            Страница пользователя
        </h3>

        <ul class="tabs">
            <li class="active">
                <a href="#profile" data-toggle="tab"><i class="icon-user"></i>Профиль</a>
            </li>
            <li>
                <a href="#notifications" data-toggle="tab"><i class="icon-cog"></i>Настройки</a>
            </li>
        </ul>
    </div>

    <div class="box-content nopadding">
        <div class="tab-content padding tab-content-inline tab-content-bottom">
            <div class="tab-pane active" id="profile">
                <!--TODO содержимое вкладки демонстрации профиля-->
                <div class="row-fluid">
                    <div class="span3">
                        <div class="fileupload fileupload-new">
                            <div class="fileupload-new thumbnail" style="max-width: 200px; max-height: 200px;">
                                @{
                                    if (Model.AvatarUrl == null)
                                    {
                                    <img src="~/Content/Dashboard/img/profile-pic.jpg" />
                                    }
                                    else
                                    {
                                    <img src="@Url.Action("GetImage", "Profile", new { id = ViewData["PersonID"], size = "m" })" alt="" />
                                    }
                                }
                            </div>
                        </div>
                        <span>Вы зарегистрированы в системе:<span class="label">@Html.DisplayFor(model => model.DateCreated)</span>
                            <br />
                            последний раз авторизовались:<span class="label">@Html.DisplayFor(model => model.DateLastLogin)</span>
                        </span>
                    </div>
                    <div class="span9">
                        <dl class='dl-horizontal' style="margin-left: -10%;">
                            <dt>Ваше имя:</dt>
                            <dd>
                                @{
                                    if ((Model.FirstName == null) & (Model.LastName == null))
                                    {                            
                                    <i>не известно</i>
                                    }
                                    else
                                    {
                                    @String.Concat(Html.DisplayFor(model => model.FirstName), " ", Html.DisplayFor(model => model.LastName))      
                                    }
                                }
                            </dd>
                            <dt>Ваш e-mail:</dt>
                            <dd><a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
                            </dd>
                            <dt>Ваш номер телефона:</dt>
                            <dd>
                                @{
                                    if (Model.PhoneNumber == null)
                                    {
                                    <i>не известно</i>
                                    }
                                    else
                                    {
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                    }
                                }
                            </dd>
                            <dt>Дата рождения:</dt>
                            <dd>
                                @{
                                    DateTime nullDate = new DateTime(1900, 1, 1, 0, 0, 0);
                                    if (Model.BirthDay == nullDate)
                                    {
                                    <i>не известно</i>
                                    }
                                    else
                                    {
                                    <span class="label">@Html.DisplayFor(model => model.BirthDay.Day)</span>
                                    <span class="label">@Html.DisplayFor(model => model.BirthDay.Month)</span>
                                    <span class="label">@Html.DisplayFor(model => model.BirthDay.Year)</span>
                                    }
                                }
                            </dd>
                            <dt>О Вас:</dt>
                            <dd>
                                @{
                                    if (Model.AboutMe == null)
                                    {                            
                                    <i>не известно</i>
                                    }
                                    else
                                    {
                                    @Html.DisplayFor(model => model.AboutMe)
                                    }
                                }
                            </dd>
                            <dt>Загружено файлов:</dt>
                            <dd>
                                <span class="label">@Html.DisplayFor(model => model.FileCounter)</span>
                                @if (Model.FileCounter > 0)
                                {
                                    <a href="@Url.Action("FilesList", "Storage")" class="label label-info">Посмотреть все файлы</a>
                                }
                            </dd>
                            <dt>Активных хранилищ:</dt>
                            <dd>
                                <span class="label">@Html.DisplayFor(model => model.StorageCounter)</span>
                                @if (Model.StorageCounter > 0)
                                {
                                    <a href="@Url.Action("Index", "Storage")" class="label label-info">Посмотреть все хранилища</a>
                                    <br />
                                    <br />
                                    
                                    double max = Model.StorageData.TotalSize / 1048576 * 10;
                                    int danger = (int)(Model.StorageData.CurentSize/1048576 * 1000 / max);
                                    int succ = (int)(max - danger);
                                    
                                    <div class="progress">
                                        <div class="bar bar-danger" style="width: @(danger)%;">Занято @(Math.Round((double)Model.StorageData.CurentSize/1048576,4)) Мб.</div>
                                        <div class="bar bar-success" style="width: @(succ)%;">Свободно @(Math.Round((double)Model.StorageData.FreeSize/1048576,4)) Мб.</div>
                                    </div>
                                    
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="notifications">
                <!--TODO содержимое вкладки редактирования профиля-->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tabs-container">
                            <ul class="tabs tabs-inline tabs-left">
                                <li class='active'>
                                    <a href="#first" data-toggle='tab'><i class="icon-user"></i>Профиль</a>
                                </li>
                                <li>
                                    <a href="#second" data-toggle='tab'><i class="icon-lock"></i>Безопасность</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content padding tab-content-inline">
                            <div class="tab-pane active" id="first">
                                <!--TODO настройки профиля-->
                                @using (Html.BeginForm("EditProfileSetting", "Profile", FormMethod.Post, new { @class = "form-horizontal", @id = "profile", enctype = "multipart/form-data" }))
                                {
                                    <div class="span6">
                                        <div class="control-group">
                                            <label for="FirstName" class="control-label">Имя:</label>
                                            <div class="controls">
                                                <input type="text" name="FirstName" id="FirstName" placeholder="@Model.FirstName" class="input-xlarge">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="LastName" class="control-label">Фамилия:</label>
                                            <div class="controls">
                                                <input type="text" name="LastName" id="LastName" placeholder="@Model.LastName" class="input-xlarge">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="BirthDay" class="control-label">Дата рождения:</label>
                                            <div class="controls">
                                                @Html.EditorFor(model => model.BirthDay)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label for="GenderID" class="control-label">Пол:</label>
                                            <div class="controls">
                                                <select name="GenderID" id="GenderID" class="select2-me input-xlarge">
                                                    @foreach (var item in ViewBag.GenderID)
                                                    {
                                                        <option value="@item.GenderID">@item.GenderName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label for="AvatarURL" class="control-label">Аватар:</label>
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="input-append">
                                                    <div class="uneditable-input input-large" style="margin-left: 20px;"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span></div>
                                                    <span class="btn btn-file"><span class="fileupload-new">Выбрать</span><span class="fileupload-exists">Изменить</span><input type="file" accept="image/x-png, image/jpeg" name="fileUpload" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label for="AboutMe" class="control-label">Обо мне:</label>
                                                <div class="controls">
                                                    <textarea name="AboutMe" id="AboutMe" class="input-block-level">@Model.AboutMe</textarea>
                                                </div>
                                            </div>
                                            <div class="submit">
                                                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
                                                <a href="@Url.Action("Index", "Profile")" class="btn">Отмена</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="second">
                                <!--TODO настройки безопасности-->
                                @using (Html.BeginForm("EditSecuritySetting", "Profile", FormMethod.Get, new { @class = "form-validate", @id = "security" }))
                                {
                                    <dl class='dl-horizontal' style="margin-left: 0%;">

                                        <dt>Смена пароля:</dt>
                                        <dd>
                                            <label>Текущий пароль</label>
                                            <div class="controls">
                                                <div class="input-prepend">
                                                    <input type="password" id="OldPassword" name="OldPassword" placeholder="Оставьте пустым если не хотите менять">
                                                </div>
                                            </div>

                                            <label>Новый пароль</label>
                                            <div class="controls">
                                                <div class="input-prepend">
                                                    <input type="password" id="NewPassword" name="NewPassword" placeholder="Оставьте пустым если не хотите менять">
                                                </div>
                                            </div>

                                            <label>Повторить новый пароль</label>
                                            <div class="controls">
                                                <div class="input-prepend">
                                                    <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" placeholder="Оставьте пустым если не хотите менять">
                                                </div>
                                            </div>
                                        </dd>

                                        <dt>Смена контактных<br />
                                            данных:</dt>
                                        <dd>
                                            <label>Номер телефона</label>
                                            <div class="controls">
                                                <div class="input-prepend">
                                                    <span class="add-on"><i class="icon-mobile-phone"></i></span>
                                                    <input type="text" class="input-large" id="PhoneNumber" name="PhoneNumber" data-val="true" data-val-requered="Требуется номер телефона" placeholder="@Model.PhoneNumber">
                                                </div>
                                            </div>
                                            <label>Email</label>
                                            <div class="controls">
                                                <div class="input-prepend">
                                                    <span class="add-on">@@</span>
                                                    <input id="Email" class="input-large" name="Email" type="email" data-val="true" data-val-requered="Требуется e-mail адресс" placeholder="@Model.Email">
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <div class="submit">
                                        <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
                                        <a href="@Url.Action("Index", "Profile")" class="btn">Отмена</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('#PhoneNumber').focusin(function () {
        $('#PhoneNumber').mask("+38(999)-999-9999");
    });
</script>

