﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ghost</title>

    <link href="~/Content/Promo/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Promo/css/stylish-promo.css" rel="stylesheet" />
    <link href="~/Content/Promo/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>

    <!-- Side menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="~/Views/Promo/Index">Ghost</a>
            </li>
            <li><a href="#top">Главная</a>
            </li>
            <li><a href="#about">О сервисе</a>
            </li>
            <li><a href="#services">Особенности</a>
            </li>
            <li><a href="#portfolio">Технологии</a>
            </li>
            <li><a href="#contact">Контакты</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>Ghost</h1>
            <h3>
                <em>Мы</em> обеспечиваем безопасность
               
                <em>ваших</em> персональных данных</h3>
            <br />
            <a href="@Url.Action("Signin", "Account")" class="btn btn-default btn-lg">Войти</a>
            <a href="@Url.Action("Signup", "Account")" class="btn btn-lg btn-primary">Регистрация</a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>С каждым днем вопрос о сохранности в тайне конфиденциальных данных становится все острее...</h2>
                    <p class="lead">Именно мы можем сделать так, что никто кроме вас не будет знать о наличии данных, и только вы сможете их просмастривать, редактировать и переносить.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Наши особенности</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-rocket"></i>
                        <h4>Высокая скорость работы</h4>
                        <p>В проекте используются ряд технологий для увеличения отзывчевости системы.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-magnet"></i>
                        <h4>Ваши данные всегда с вами</h4>
                        <p>В любой момент вы можете получить доступ к вашим файлам с любой точке на планете, с любого устройства. Все что необходимо - доступ к интернету.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-shield"></i>
                        <h4>Безопасность</h4>
                        <p>Никто кроме вас не имеет доступа к файлам, даже мы. Они всегда хранятся в скрытом, методом стеганографии, виде.</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-pencil"></i>
                        <h4>Контроль изменений</h4>
                        <p>Мы будем вести контроль изменений ваших файлов, и вы сможете получить любую версию ваших файлов из ранее сохраненных.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1>Вы все еще думаете что шифрование это безопасно?</h1>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Наши технологии</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="~/Content/Promo/img/portfolio-1.jpg">
                        </a>
                        <h4>Lucene.Net</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="~/Content/Promo/img/portfolio-2.png">
                        </a>
                        <h4>HTML 5</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="~/Content/Promo/img/portfolio-3.png">
                        </a>
                        <h4>7zip</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="~/Content/Promo/img/portfolio-4.png">
                        </a>
                        <h4>MS SQL</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>Начните пользоваться сервисом прямо сейчас!</h3>
                    <a href="@Url.Action("Signin", "Account")" class="btn btn-lg btn-default">Вход</a>
                    <a href="@Url.Action("Signup", "Account")" class="btn btn-lg btn-primary">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->

    <!-- Map -->
    <div id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D0%A5%D0%B0%D1%80%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D0%B0%D0%B2%D1%96%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D0%B8%D0%B9+%D1%96%D0%BD%D1%81%D1%82%D0%B8%D1%82%D1%83%D1%82,+%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%A7%D0%BA%D0%B0%D0%BB%D0%BE%D0%B2%D0%B0,+%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2,+%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;aq=1&amp;oq=%D0%A5%D0%90%D0%98,+&amp;sll=37.0625,-95.677068&amp;sspn=41.767874,86.572266&amp;ie=UTF8&amp;hq=%D0%A5%D0%B0%D1%80%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D0%B0%D0%B2%D1%96%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D0%B8%D0%B9+%D1%96%D0%BD%D1%81%D1%82%D0%B8%D1%82%D1%83%D1%82,+%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%A7%D0%BA%D0%B0%D0%BB%D0%BE%D0%B2%D0%B0,+%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2,+%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;t=m&amp;ll=50.043618,36.288608&amp;spn=0.006295,0.011075&amp;output=embed"></iframe>

    </div>
    <!-- /Map -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; Osmokiesku Artur 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- JavaScript -->
    <script src="~/Content/Promo/js/bootstrap.js"></script>
    <script src="~/Content/Promo/js/jquery-1.10.2.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>

</body>
</html>
