﻿@{
    ViewBag.Title = "О нас";
}

<div class="page-header">
    <div class="pull-left">
        <h1>О нас</h1>
    </div>
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("AboutUs", "Static")">О нас</a>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Философия проекта
									</h3>
            </div>
            <p>
                Преимущество стеганографии над чистой криптографией состоит в том, что сообщения не привлекают к себе внимания. Сообщения, факт шифрования которых не скрыт, вызывают подозрение и могут быть сами по себе уличающими в тех странах, которых криптография запрещена. Таким образом, криптография защищает содержание сообщения, а стеганография защищает сам факт наличия каких-либо скрытых посланий.
            </p>
            <p>
                Наш проект - простая в использовании система сокрытия информации, увеличивает уровень безопасности персональных данных. Данная система позволит сохранить в тайне наличие той или иной информации на компьютере пользователя, с возможностью в дальнейшем, расшифровать файл в любое состояние которое было сохранено в системе.
            </p>
        </div>
    </div>
    <div class="span6">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Миссия
									</h3>
            </div>
            <p>
                Разработать бесплатную систему сокрытия и резервирования информации, которой бы мог пользоваться любой человек без специальных знаний. Достичь высокой скорости работы системы и сохранять в безопасности любые данные пользователя. Быть доступными на любых платформах, в любом месте, в любое время. Предоставлять высокий уровень сервиса всем пользователям.
            </p>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>
                    Команда
									</h3>
            </div>
            <div class="span4"><br />
                <div class="fileupload-new thumbnail" style="max-width:200px;max-height:300px;">
                   <img src="~/Content/Dashboard/img/ceo_photo.jpg" /> 
                </div>
                <h4 style="color:#368EE0">Осмокеску Артур</h4>
            </div>
        </div>
    </div>
</div>

