﻿@{
    ViewBag.Title = "Контакты";
}
<!-- gmap -->
<link rel="stylesheet" href="css/plugins/gmap/gmap3-menu.css">
<style>
    #my_map { height: 350px; width: 100%; }
</style>
<!-- gmap -->
<script src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script>
<script src="js/plugins/gmap/gmap3.min.js"></script>
<script src="js/plugins/gmap/gmap3-menu.js"></script>
<div class="page-header">
    <div class="pull-left">
        <h1>Контакты</h1>
    </div>
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Contact", "Static")">Контакты</a>
        </li>
    </ul>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="box">

            <div class="box-content">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D0%A5%D0%90%D0%98&amp;aq=&amp;sll=49.991654,36.280476&amp;sspn=0.265748,0.676346&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;ll=50.043829,36.288164&amp;spn=0.004823,0.009098&amp;z=16&amp;output=embed"></iframe>
            </div>
            <center><h3>Наши контакты</h3></center>

            <div class="span3">
                <h4>На карте</h4>
                Украина, Харьков<br />
                ул. Чкалова 17<br />
                Национальный аэрокосмический университет им Н.Е.Жуковского "ХАИ" <br />
                кафедра  302, студент гр 346<br />
                Осмокеску Артур Александрович
            </div>
            <div class="span3">
                <h4>В интернете</h4>
                <b>E-mail : </b> <a href="mailto:artur.osmokesku@outlook.com">artur.osmokesku@outlook.com</a> <br />
                <b>Skype : </b> fhneh_931
            </div>
            <div class="span3">
                <h4>В социальных сетях</h4>
                <b>Вконтакте : </b><a href="http:\\www.vk.com/mister_arti" target="_blank">Осмокеску Артур</a> <br />
            </div>
        </div>
    </div>
</div>

