﻿@model Ghost.Domain.ViewModel.DeleteStorageViewMode
@{
    ViewBag.Title = "Ghost|Удаление хранилища";
}

<div class="page-header">
    <br />
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Storage")">Хранилище</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("DeleteStorage", "Storage")">Удаление хранилища</a>
        </li>
    </ul>
</div>

<div class="page-header">
    @if (TempData["ErrorForUser"] != null)
    {
        <br />
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["ErrorForUser"]
        </div>
    }
    @if (TempData["SuccessForUser"] != null)
    {
        <br />
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["SuccessForUser"]
        </div>
    }

</div>

<div class="box">
    <div class="box-title">
        <h3><i class="icon-trash"></i>Удаление хранилища @Model.CurentStorage.StorageName</h3>
    </div>
    <div class="box-content">
        <p><b>Внимание!</b> При удалении данного хранилища будут безвозвратно удалены <span class="label">@Model.CurentStorage.Files.Count</span> файлов.</p>
        <p>
            В целях безопасности на ваш адрес электронной почты был отправлен код проверки. Введите его в поле ниже, и подтвердите удаление если уверены,
            <br />
            или нажмите "Отмена" и проигнорируйте письмо если не хотите удалять хранилище.
        </p>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne" style="color:#000;text-decoration: none;">При удалении данного хранилища будут удалены следующие файлы:
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                        @Html.Action("_FilesListView", "Storage", new { id = Model.StorageId })
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("DeleteStorage", "Storage", FormMethod.Post, new { @id = "deleteStorage" }))
        {
            @Html.HiddenFor(model => model.StorageId)
            @Html.HiddenFor(model => Model.CoreValidationKey)
            <div class="control-group">
                <div class="email controls">
                    <input class="input-block-level" placeholder="Код подтверждения" data-val="true" data-val-requered="Необходимо ввести код подтверждения" id="ValidationKey" name="ValidationKey" />
                </div>
            </div>
            <div class="submit">
                <a class="btn btn-danger" onclick="document.getElementById('deleteStorage').submit(); return false;"><i class="icon-ok"></i>Удалить</a>
                <a href="@Url.Action("Index", "Storage")" class="btn">Отмена</a>
            </div>
        }

    </div>
</div>
