﻿@{
    ViewBag.Title = "Хранилище|Извлечь файл";
}
<div class="page-header">
    <br />
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Storage")">Хранилище</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("DownloadFile","Storage")">Извлечь файл</a>
        </li>
    </ul>
</div>
<div class="page-header">
    @if (TempData["ErrorForUser"] != null)
    {
        <br />
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["ErrorForUser"]
        </div>
    }
    @if (TempData["SuccessForUser"] != null)
    {
        <br />
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["SuccessForUser"]
        </div>
    }
</div>

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-cloud-download"></i>
            Извлечение файла
        </h3>
    </div>
    <div class="box-content">
        <p>Вы хотите извлечь файл к себе на компьютер? Если вы уверены подтвердите выбор, иначе нажмите "Отмена".
            <br />
           После извлечения файл продолжит храниться у нас на сервисе, до тех пор пока вы явно не захотите его удалить.
        </p>
        <!--Две кнопки-->
            <a href="@Url.Action("DownloadFile", "Storage", new {id = TempData["id"], accept = true })" class="btn btn-success"><i class="icon-cloud-download"></i> Получить файл</a>
            <a href="@Url.Action("Index","Profile")" class="btn">Отмена</a><br />
        <p>В целях безопасности ниже представлены контрольные суммы файла который вы скачиваете. После получения файла, вы можете <br />
            сравнить данные значения с контрольной суммой файла на локальном устройстве. Они должны быть равны. Если они не равны то возможно <br />
            файл был подменен третьими лицами в ходе передачи по открытой сети.
            <br />
            <a href="http://youpk.ru/kontrolnaya-summa/" target="_blank">Тут</a> вы можете узнать как проверить контрольную сумму файла.
        </p>
        <p>
            <b>MD5: </b> @ViewData["MD5"]
            <br />
            <b>SHA-1:</b> @ViewData["SHA1"]
        </p>
    </div>
</div>
