﻿@using PagedList;
@using PagedList.Mvc;
@model Ghost.Domain.ViewModel.FilesListViewModel
@{
    ViewBag.Title = "Харнилище|Файлы";
}


<div class="page-header">
    <br />
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Storage")">Хранилище</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("FileList", "Storage")">Файлы</a>
        </li>
    </ul>
</div>

<div class="page-header">

    @if (Model.StorageName != "")
    {
        <a href="@Url.Action("UploadFile", "Storage", new { id = Model.StorageId })" class="btn btn-success" rel="tooltip" title="Загрузить файл в это хранилище"><i class="icon-cloud-upload"></i> Загрузить файл</a>
    }

</div>


<div class="box">
    <div class="box-title">
        <h3>
            @if(Model.StorageName == "")
            {
        
                <i class="icon-inbox"></i>
                <span>Список всех ваших файлов</span>
        
            }
            else
            {
                <i class="icon-inbox"></i>
                <span>Список ваших файлов в хранилище @Model.StorageName</span>
            }

        </h3>
    </div>
    <div class="box-content nopadding">
        <!--Таблица тут-->
        <table class="table table-hover table-nomargin">
            <thead>
                <tr>
                    <th>Имя файла</th>
                    <th>Размер файла, Mб</th>
                    <th>Скрыт</th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Files)
                { 
                    <tr>
                        <td>@item.FileFullName</td>
                        <td>@(Math.Round((double)item.FileSize/1048576,4))</td>
                        <td>@item.UploadDate</td>
                        <td>
                            <a href="@Url.Action("DownloadFile", "Storage", new { id = item.FilesID })" class="btn btn-success" rel="tooltip" title="Извлечь файл"><i class="icon-cloud-download"></i></a>
                            <a href="@Url.Action("DeleteFile", "Storage", new { id = item.FilesID })" class="btn btn-danger" rel="tooltip" title="Удалить файл"><i class="icon-remove"></i></a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <div class="table-pagination" style="display:inline-flex;height:28px;">
            <span style="margin:3px 5px 0 0";>Страница @(Model.Files.PageCount < Model.Files.PageNumber ? 0 : Model.Files.PageNumber)
                из @Model.Files.PageCount</span>
            @if (Model.Files.HasPreviousPage)
            {
                <a href="@Url.Action("FilesList", "Storage", new { page = 1 })">Первая</a>
                <a href="@Url.Action("FilesList", "Storage", new { page = Model.Files.PageNumber - 1 })">Предыдущая</a>
            }
            else
            {
                <a class="disabled">Первая</a>
                <a class="disabled">Предыдущая</a>
            }

             <div style="margin:-22px 5px 0 0">
                @Html.PagedListPager(Model.Files, page => Url.Action("FilesList", new { page = page, @class="btn"}),PagedListRenderOptions.PageNumbersOnly)
             </div>
            @if (Model.Files.HasNextPage)
            {
                <a href="@Url.Action("FilesList", "Storage", new { page = Model.Files.PageNumber + 1 })">Следующая</a>
                <a href="@Url.Action("FilesList", "Storage", new { page = Model.Files.PageCount })">Последняя</a>
            }
            else
            {
                <a class="disabled">Следующая</a>
                <a class="disabled">Последняя</a>
            }
               
        </div>
    </div>
</div>

