﻿@model IEnumerable<Ghost.Domain.Storage>
@{
    ViewBag.Title = "Хранилище|Таблица";
}


<div class="page-header">
    <br />
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Storage")">Хранилище</a>
        </li>
    </ul>
</div>

<div class="page-header">
    @if (TempData["ErrorForUser"] != null)
    {
        <br />
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["ErrorForUser"]
        </div>
    }
    @if (TempData["SuccessForUser"] != null)
    {
        <br />
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["SuccessForUser"]
        </div>
    }

</div>
<p>
    <a class='btn btn-primary' href="@Url.Action("Create", "Storage")" ><i class="icon-plus"></i>Добавить хранилище</a>
</p>

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-table"></i>
            Список ваших хранилищ
        </h3>
    </div>
</div>
<div class="box-content nopadding">
    <table class="table table-hover table-nomargin">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StorageName)</th>
                <th>@Html.DisplayNameFor(model => model.MaxSize), Mб</th>
                <th>@Html.DisplayNameFor(model => model.CurrentSize), Mб</th>
                <th style="width: 100px;"></th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="#" id="username" data-url="/Storage/UpdateName" data-type="text" data-pk="1" data-placement="right" data-original-title="Введите новое название">@Html.DisplayFor(modelItem => item.StorageName)</a>
                    </td>
                    <td>
                        @(Math.Round((double)item.MaxSize/1048576,4))

                    </td>
                    <td>
                        @(Math.Round((double)item.CurrentSize/1048576,4))
                    </td>
                    <td style="width: 100px;">
                        <a href="@Url.Action("UploadFile", "Storage", new { id = item.StorageId })" class="btn btn-success" rel="tooltip" title="Загрузить файл в это хранилище"><i class="icon-cloud-upload"></i></a>
                        <a href="@Url.Action("FilesList", "Storage", new { id = item.StorageId })" class="btn btn-primary" rel="tooltip" title="Посмотреть файлы"><i class="icon-inbox"></i></a>
                        <a href="@Url.Action("DeleteStorage", "Storage", new { id = item.StorageId })" class="btn btn-danger" rel="tooltip" title="Удалить хранилище"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

