﻿@model Ghost.Domain.ViewModel.UploadFileViewModel
@{
    ViewBag.Title = "Хранилище|Загрузка файла";
}

<div class="page-header">
    <br />
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a>Ghost</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Storage")">Хранилище</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("UploadFile", "Storage")">Загрузка файла</a>
        </li>
    </ul>
</div>
<div class="page-header">
    @if (TempData["ErrorForUser"] != null)
    {
        <br />
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["ErrorForUser"]
        </div>
    }
    @if (TempData["SuccessForUser"] != null)
    {
        <br />
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Внимание! </strong>@TempData["SuccessForUser"]
        </div>
    }
</div>
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-cloud-upload"></i>
            Загрузка новго файла
        </h3>
    </div>
    <div class="box-content">
        <p>Сокрытие файла может занять до нескольких минут. Не закрывайте вкладку, пока не получите уведомление о завершении загрузки на данной странице.</p>
        @using (Html.BeginForm("UploadFile", "Storage", FormMethod.Post, new { @class = "form-horizontal", @id = "uploadfile", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.StorageId)
            <div class="control-group">
                <label for="uploadFile" class="control-label" style="width: 250px;">Выберите файл для сокрытия:</label>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="input-append">
                        <div class="uneditable-input input-large"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span></div>
                        <span class="btn btn-file"><span class="fileupload-new">Выбрать</span><span class="fileupload-exists">Изменить</span><input type="file" accept="image/x-png, image/jpeg" name="uploadFile" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Удалить</a>
                    </div>

                    <span>Максимально допустимый размер файла - 5 Мб.</span>
                </div>
            </div>
    
            <div class="submit">
                <a class="btn btn-success" onclick="document.getElementById('uploadfile').submit(); return false;"><i class="icon-cloud-upload"></i>Начать загрузку</a>
                <a href="@Url.Action("Index", "Storage")" class="btn">Отмена</a>
            </div>
        }
    </div>
</div>
