﻿@model Ghost.Domain.ViewModel.PartialFilesListViewModel

<table class="table table-hover table-nomargin">
    <thead>
        <tr>
            <th>Имя файла</th>
            <th>Размер файла, Mб</th>
            <th>Скрыт</th>
            <th style="width: 100px;"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Files)
        { 
            <tr>
                <td>@item.FileFullName</td>
                <td>@item.FileSize</td>
                <td>@item.UploadDate</td>
                <td>
                    <a href="@Url.Action("DownloadFile", "Storage", new { id = item.FilesID })" class="btn btn-success" rel="tooltip" title="Извлечь файл"><i class="icon-cloud-download"></i></a>
                </td>

            </tr>
        }

    </tbody>
</table>
