﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap.min.css">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap-responsive.min.css">
    <!-- icheck -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/icheck/all.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/themes.css">
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <!-- jQuery -->
    <script src="~/Content/Dashboard/js/jquery.min.js"></script>

    <!-- Nice Scroll -->
    <script src="~/Content/Dashboard/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- Validation -->
    <script src="~/Content/Dashboard/js/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/validation/additional-methods.min.js"></script>
    <!-- icheck -->
    <script src="~/Content/Dashboard/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Dashboard/js/bootstrap.min.js"></script>
    <script src="~/Content/Dashboard/js/eakroko.js"></script>


    <link rel="shortcut icon" href="~/Content/Dashboard/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/Dashboard/img/logo.png" />

    <style>
    body {
        font-family: 'Roboto', sans-serif;
        font-weight:300;
    }
</style>
</head>
<body>
    <body class="login">
        <div class="wrapper">
            <h1><a href="@Url.Action("Index", "Promo")">
                <img src="~/Content/Dashboard/img/logo.png" alt="" class="retina-ready" width="59" height="49" />Ghost</a></h1>
            <div class="login-body">
                @RenderBody()
            </div>
        </div>

    </body>
</body>
</html>


