﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/bootstrap-responsive.min.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/jquery-ui/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
    <!-- PageGuide -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/pageguide/pageguide.css">
    <!-- Fullcalendar -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/fullcalendar/fullcalendar.print.css" media="print">
    <!-- chosen -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/chosen/chosen.css">
    <!-- select2 -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/select2/select2.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/datepicker/datepicker.css">
    <!-- icheck -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugins/icheck/all.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/Content/Dashboard/css/themes.css">
    <!-- XEditable -->
	<link rel="stylesheet" href="~/Content/Dashboard/css/plugins/xeditable/bootstrap-editable.css">
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <!-- jQuery -->
    <script src="~/Content/Dashboard/js/jquery.min.js"></script>


    <!-- Nice Scroll -->
    <script src="~/Content/Dashboard/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/Dashboard/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
    <!-- Touch enable for jquery UI -->
    <script src="~/Content/Dashboard/js/plugins/touch-punch/jquery.touch-punch.min.js"></script>
    <!-- slimScroll -->
    <script src="~/Content/Dashboard/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Dashboard/js/bootstrap.min.js"></script>
    <!-- XEditable -->
	<script src="~/Content/Dashboard/js/plugins/momentjs/jquery.moment.js"></script>
	<script src="~/Content/Dashboard/js/plugins/mockjax/jquery.mockjax.js"></script>
	<script src="~/Content/Dashboard/js/plugins/xeditable/bootstrap-editable.min.js"></script>
	<script src="~/Content/Dashboard/js/plugins/xeditable/demo.js"></script>
	<script src="~/Content/Dashboard/js/plugins/xeditable/address.js"></script>
    <!-- vmap -->
    <script src="~/Content/Dashboard/js/plugins/vmap/jquery.vmap.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/vmap/jquery.vmap.world.js"></script>
    <script src="~/Content/Dashboard/js/plugins/vmap/jquery.vmap.sampledata.js"></script>
    <!-- Bootbox -->
    <script src="~/Content/Dashboard/js/plugins/bootbox/jquery.bootbox.js"></script>
    <!-- Flot -->
    <script src="~/Content/Dashboard/js/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/flot/jquery.flot.bar.order.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- Bootbox -->
	<script src="~/Content/Dashboard/js/plugins/bootbox/jquery.bootbox.js"></script>
    <!-- imagesLoaded -->
    <script src="~/Content/Dashboard/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
    <!-- PageGuide -->
    <script src="~/Content/Dashboard/js/plugins/pageguide/jquery.pageguide.js"></script>
    <!-- FullCalendar -->
    <script src="~/Content/Dashboard/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <!-- Masked inputs -->
    <script src="~/Content/Dashboard/js/plugins/maskedinput/jquery.maskedinput.min.js"></script>
    <!-- Chosen -->
    <script src="~/Content/Dashboard/js/plugins/chosen/chosen.jquery.min.js"></script>
    <!-- Datepicker -->
    <script src="~/Content/Dashboard/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- select2 -->
    <script src="~/Content/Dashboard/js/plugins/select2/select2.min.js"></script>
    <!-- icheck -->
    <script src="~/Content/Dashboard/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Custom file upload -->
    <script src="~/Content/Dashboard/js/plugins/fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/Content/Dashboard/js/plugins/mockjax/jquery.mockjax.js"></script>

    <!-- Theme framework -->
    <script src="~/Content/Dashboard/js/eakroko.min.js"></script>
    <!-- Theme scripts -->
    <script src="~/Content/Dashboard/js/application.min.js"></script>
    <!-- Just for demonstration -->
    <script src="~/Content/Dashboard/js/demonstration.min.js"></script>

    <link rel="shortcut icon" href="~/Content/Dashboard/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/Dashboard/img/logo.png" />
    <style>
        body { font-family: 'Roboto', sans-serif; font-weight: 300; }
    </style>
</head>
<body data-layout-topbar="fixed">
    <div id="navigation" class="navbar-fixed-top">
        <div class="container-fluid" style="height: 40px;">
            <a href="@Url.Action("Index", "Profile")" id="brand">GHOST</a>
            <ul class="main-nav">
                <!--Навигация-->
                <li>
                    <a href="#" style="padding: 4px 15px;">
                        <span>Панель управления</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle' style="padding: 4px 15px;">
                        <span>Хранилище <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Галерея</a>
                        </li>
                        <li>
                            <a href="@Url.Action("FilesList", "Storage")">Файлы</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Storage")">Настройка</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="user">
                @Html.Action("_LogOnPartial", "Static")
            </div>
        </div>
    </div>

    <div class="container-fluid" id="content">
        <div id="main">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="footer">
        <p>
            Ghost. All right reserved (c) 2014
                <span class="font-grey-4">|</span>
            <a href="@Url.Action("Contact", "Static")">Контакты</a>
            <span class="font-grey-4">|</span>
            <a href="@Url.Action("AboutUs", "Static")">О нас</a>
        </p>
        <a href="#" class="gototop"><i class="icon-arrow-up"></i></a>
    </div>
</body>
</html>

