﻿@model Ghost.Domain.ViewModel.LayoutViewModel
<style>
    li span { width: auto; padding: 6px 15px; display: block; font-weight: normal; white-space: nowrap; }
</style>
<div class="dropdown" style="height: 40px;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height: 67.5%;">
        @{
            if (Model.FitstAndLastName.Trim().IsEmpty())
            {
            <i class="icon-reorder"></i>
            }
            else
            {
            <text>@Html.DisplayFor(model => model.FitstAndLastName)</text>
            }
        }
        @{
            if (Model.AvatarURL == null)
            {
                <img src="~/Content/Dashboard/img/avatar.jpg" />
            }
            else
            {
                <img src="@Url.Action("GetImage", "Profile", new { id = Int32.Parse(User.Identity.Name), size = "s" })" alt="" />
            }
        }
        <!--<img src="~/Content/Dashboard/img/avatar.png" alt="" />-->
    </a>
    <ul class="dropdown-menu pull-right" style="font-weight: 100">
        <li style="background-color: #1B67AF; color: #FFFFFF">
            <span>Последний вход: @Html.DisplayFor(model => model.LastLogOn)</span>
        </li>
        <li>
            <a href="@Url.Action("Index", "Profile")">Профиль</a>
        </li>
        <li>
            <a href="@Url.Action("SignOut", "Account")">Выход</a>
        </li>
    </ul>
</div>
