﻿@{
    ViewBag.Title = "Активация аккаунта";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Активация</h2>
<div class="submit">
    <div class="email controls">
       <center> @ViewBag.ActiveMessage</center>
    </div>
</div>


<div class="forget">
    <a href="@Url.Action("Signin", "Account")"><span>Вход</span></a>
</div>
