﻿@model Ghost.Domain.ViewModel.ForgotPasswordModel
@{
    ViewBag.Title = "Забыли пароль";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Напомнить пароль</h2>
@if (!(ViewContext.ViewData.ModelState.IsValid))
{
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Внимание!</strong>@Html.ValidationSummary(true)
    </div>
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-validate", @id = "test" }))
{
    <div class="control-group">
        <div class="email controls">
            <input class="input-block-level" placeholder="Email адресс" data-val ="true" data-val-requered="Требуется e-mail адресс" id="Email" name="Email" type="email" />
            @Html.ValidationMessageFor(model => model.Email, null, new {@style="color:#b94a48" })
        </div>
    </div>
    <div class="submit">
        <input type="submit" value="Напомнить мне пароль" class="btn btn-primary" />
    </div>
}
<div class="forget">
    <a href="@Url.Action("Signin","Account")"><span>Вход</span></a>
</div>