﻿@model Ghost.Domain.ViewModel.LogOnModel
@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Вход</h2>
@if (!(ViewContext.ViewData.ModelState.IsValid))
{
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Внимание!</strong>@Html.ValidationSummary(true)
    </div>
}
@using (Html.BeginForm("Signin", "Account", FormMethod.Post, new { @class = "form-validate", @id = "test" }))
{
    <div class="control-group">
        <div class="email controls">
           <input class="input-block-level" placeholder="Email адресс" data-val="true" data-val-requered="Требуется e-mail адресс" id="Email" name="Email" type="email" />
            @Html.ValidationMessageFor(model => model.Email, null, new {@style="color:#b94a48" })
        </div>
    </div>
                    
    <div class="control-group">
        <div class="pw controls">
            <input class="input-block-level" placeholder="Пароль" data-val="true" data-val-requered="Требуется пароль" id="Password" name="Password" type="password" />
            @Html.ValidationMessageFor(model => model.Password, null, new {@style="color:#b94a48" })
        </div>
    </div>
    <div class="submit">
        <div class="remember">
            @Html.CheckBoxFor(model => model.RememberMe, new {@class="icheck-me", data_skin = "square", data_color = "blue"})
            <label for="remember">Запомнить меня</label>
        </div>
        <input type="submit" value="Войти" class='btn btn-primary'>
    </div>
}
<div class="forget">
    <a href="@Url.Action("ForgotPassword","Account")"><span>Напомнить пароль?</span></a>
</div>
