﻿@model Ghost.Domain.ViewModel.RegisterModel

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>
@if (!(ViewContext.ViewData.ModelState.IsValid))
{
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Внимание!</strong>@Html.ValidationSummary(true)
    </div>
}
@using (Html.BeginForm("Signup", "Account", FormMethod.Post, new { @class = "form-validate", @id = "test" }))
{
    <div class="control-group">
        <div class="email controls">
            <input class="input-block-level" placeholder="Email адресс" data-val="true" data-val-requered="Требуется e-mail адресс" id="Email" name="Email" type="email" />
            @Html.ValidationMessageFor(model => model.Email, null, new { @style = "color:#b94a48" })
        </div>
    </div>
                    
    <div class="control-group">
        <div class="pw controls">
            <input class="input-block-level" placeholder="Пароль" data-val="true" data-val-requered="Требуется пароль" id="Password" name="Password" type="password" />
            @Html.ValidationMessageFor(model => model.Password, null, new { @style = "color:#b94a48" })
        </div>
    </div>
                    
    <div class="control-group">
        <div class="pw controls">
            <input class="input-block-level" placeholder="Повторить пароль" data-val="true" data-val-requered="Требуется пароль" id="ConfirmPassword" name="ConfirmPassword" type="password" />
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @style = "color:#b94a48" })
        </div>
    </div>
                
    <div class="submit">
        <input type="submit" rel="tooltip" title="Ссылка активации аккаунта будет отправлена на ваш email." data-placement="bottom" value="Зарегистрироваться" class="btn btn-primary" />
    </div>
}
<div class="forget">
    <a href="@Url.Action("Signin", "Account")"><span>Вход</span></a>
</div>


